.task {
  height: 72px;
  width: 736px;
  background: #262626;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  display: flex;
}

.task p {
  color: #f2f2f2;
  font-weight: 400;
  font-size: 14px;
}

.trash {
  background: transparent;
  border: 0;
  cursor: pointer;
  color: #808080;
  line-height: 0;
}

/* reset */
button {
  all: unset;
}

.CheckboxRootNotChecked {
  background-color: transparent;
  width: 17.45px;
  height: 17.45px;
  border: 3px solid #4ea8de;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CheckboxRootNotChecked:hover {
  border: 3px solid #1e6f9f;
  background-color: rgba(30, 111, 159, 0.2);
}

.CheckboxRoot {
  background-color: #5e60ce;
  border: 3px solid #5e60ce;

  width: 17.45px;
  height: 17.45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CheckboxRoot:hover {
  background-color: #8284fa;
  border: 3px solid #8284fa;
}

.CheckboxIndicator {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
